<div
  class="favorites-container"
  *ngIf="favoriteFlashcards.length; else noFavorites"
>
  <div class="card-grid">
    <mat-card class="flashcard" *ngFor="let card of favoriteFlashcards">
      <mat-card-header>
        <mat-card-title>{{
          card.title || "Flashcard #" + card.id
        }}</mat-card-title>
        <mat-icon class="remove-icon" (click)="removeFavorite(card.id)"
          >star</mat-icon
        >
      </mat-card-header>

      <mat-card-content>
        <h4>Question</h4>
        <p>{{ card.question }}</p>

        <h4>Answer</h4>
        <p>{{ card.answer }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noFavorites>
  <p style="text-align: center; margin-top: 2rem">
    No favorite flashcards found.
  </p>
</ng-template>
