<div class="flashcard-container" *ngIf="flashcard">
  <div
    class="flashcard"
    [@flipState]="isFlipped ? 'back' : 'front'"
    (click)="flipCard()"
  >
    <mat-icon
      class="favorite-icon"
      (click)="toggleFavorite($event)"
      [@starAnimation]="isFavorite(flashcard.id) ? 'favorited' : 'unfavorited'"
      *ngIf="isBrowser"
    >
      {{ isFavorite(flashcard.id) ? "star" : "star_border" }}
    </mat-icon>

    <div class="front" *ngIf="!isFlipped">
      <h3>{{ currentIndex + 1 }}. Question</h3>

      <p>{{ flashcard.question }}</p>
    </div>
    <div class="back" *ngIf="isFlipped">
      <h3>{{ currentIndex + 1 }}. Answer</h3>
      <p>{{ flashcard.answer }}</p>
    </div>
  </div>

  <div class="navigation-buttons">
    <button mat-button (click)="prevCard()">Previous</button>
    <button mat-button (click)="randomCard()">Random</button>
    <button mat-button (click)="nextCard()">Next</button>
  </div>
</div>
