<div class="flashcard-container" *ngIf="flashcard">
  <div
    class="flashcard"
    [@flipState]="isFlipped ? 'back' : 'front'"
    (click)="flipCard()"
  >
    <mat-icon
      class="favorite-icon"
      (click)="toggleFavorite($event)"
      [@starAnimation]="isFavorite(flashcard.id) ? 'favorited' : 'unfavorited'"
      *ngIf="isBrowser"
    >
      {{ isFavorite(flashcard.id) ? "star" : "star_border" }}
    </mat-icon>

    <div class="front" *ngIf="!isFlipped">
      <h3 class="quelabel">{{ currentIndex + 1 }}. Question</h3>
      <p id="question">{{ flashcard.question }}</p>

      <!-- Multiple Choice Options -->
      <div class="options" *ngIf="flashcard.options?.length">
        <mat-radio-group [formControl]="selectedOption">
          <mat-radio-button
            *ngFor="let option of flashcard.options; let i = index"
            [value]="i"
            class="option-item"
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="back" *ngIf="isFlipped">
      <h3>{{ currentIndex + 1 }}. Answer</h3>
      <p>{{ flashcard.answer }}</p>
    </div>
  </div>

  <div class="navigation-buttons">
    <button mat-raised-button (click)="prevCard()">Previous</button>
    <button mat-raised-button (click)="randomCard()">Random</button>
    <button mat-raised-button (click)="nextCard()">Next</button>
  </div>
</div>

<!-- <div class="viewed-message" *ngIf="cardViewed">✅ You viewed the card</div> -->

<div class="viewed-message" *ngIf="hasViewedCurrentCard()">
  ✅ You've viewed this card
</div>
