.header-toolbar {  
   position: fixed;
     display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: rgb(69, 69, 211);
    height: 10%;
    color: white;
}

.navigation-tab a {
  color: white !important; /* force override */
  font-weight: 500;
  text-decoration: none;
}



.app-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.star-button{
  background-color: rgb(252, 238, 225);
}

.gold-star {
  color: goldenrod;
}