.filter-bar {
  display: flex;
  gap: 16px;
  // margin-top: 10%;
  // margin-bottom: 16px;

   margin: 120px auto 16px 220px;
  flex-wrap: wrap;
}

.filter-bar mat-form-field {
  width: 200px;
}

.dashboard-table {
  width: 80%;
  margin: 16px auto 30px auto;
}

.paginator{
  background-color: transparent;
  margin-top: 1%;
}

.action-buttons {
  display: flex;
  gap: 3px; // space between buttons
  flex-wrap: wrap;
}


.view-button {
  background-color: rgb(56, 184, 73); // Material Blue 700
  color: white;
}

.delete-button {
  background-color:red; // Material Red 700
  color: white;
}



.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: lightgray;
}



